<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045706398012-9itkaabp8hhqpf6op3r3053kt7kddr9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045706398012-9itkaabp8hhqpf6op3r3053kt7kddr9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1045706398012-jql9p68ot9uvk8jrnhin1p66d5t8mmps.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmBdfkBxDUT53PWGxHSfgRAgq5LZwKbl0</string>
	<key>GCM_SENDER_ID</key>
	<string>1045706398012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.ingenieria</string>
	<key>PROJECT_ID</key>
	<string>ingenieria-e345b</string>
	<key>STORAGE_BUCKET</key>
	<string>ingenieria-e345b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045706398012:ios:ec14c1992fc392eac9e639</string>
</dict>
</plist>